<div class="user-view-box">
    <div class="update-content">
        <div class="row">
            <h5>アカウント</h5>
        </div>
    </div>
    
    <div class="update-content">
        <div class="row">
            <label class="col-md-3" for="email">メールアドレス</label>
            <div><%= @user.email %></div>
        </div>
    </div>
    
    <div class="update-content">
        <div class="row">
            <label class="col-md-3" for="password">パスワード</label>
            <div>***************</div>
        </div>
    </div>
    
    <div class="update-content">
        <div class="row">
            <div><%= link_to "編集", edit_user_registration_path %></div>
        </div>
    </div>
</div>

<div class="user-view">
    <div class="user-nav-view-box">
        <div class="update-content">
            <div class="row">
                <h5>プロフィール</h5>
            </div>
        </div>
        <div class="update-content">
            <div class="row">
                <%= @user.image %>
            </div>
        </div>
        <%= form_for @user do |f| %>
        <div class="update-content">
            <div class="row">
                <%= f.label :image, "アイコン画像" %>
                <%= f.file_field :image %>
            </div>
        </div>
        <div class="update-content">
            <div class="row">
                <%= f.label :user_name, "ユーザー名" %>
                <%= f.text_field :user_name %>
            </div>
        </div>
        <div class="update-content">
            <div class="row">
                <%= f.label :introduction, "自己紹介" %>
                <%= f.text_area :introduction %>
            </div>
        </div>
        <div class="update-content">
            <div class="row">
                <%= f.submit "更新" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
    
</div>
