<%= form_for @room do |f| %>
    <div class="form-control">
        <%= f.label :room_name, "ルーム名" %>
        <%= f.text_field :room_name, placeholder: "ルーム名を入力" %>
    </div>
    
    <div class="form-control">
        <%= f.label :room_introduction, "ルーム紹介" %>
        <%= f.text_area :room_introduction, placeholder: "ルームの説明を入力" %>
    </div>
    
    <div class="form-control">
        <%= f.label :fee, "料金" %>
        <%= f.number_field :fee, placeholder: "1日あたりの料金を入力" %>
    </div>
    
    <div class="form-control">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "住所を入力" %>
    </div>

    <div class="form-control">
        <%= f.label :image, "ルーム画像" %>
        <%= f.file_field :image %>
    </div>
    
    <div class="form-control">
        <%= f.submit "登録" %>
    </div>
<% end %>